@import '@/styles/variables';

.footer {
  margin: $offset-basic * 2 auto;
  padding: $offset-basic;
  width: 100%;
  height: 2rem;
  text-align: center;
  font: 500 $font-size-title $font-titles;
  font-size: 1rem;
}

.special__mark {
  color: $orange;
}