.footer {
  margin: calc(var(--offset-basic) * 2) auto;
  padding: var(--offset-basic);
  width: 100%;
  text-align: center;
  font: 500 var(--font-size-title) var(--font-titles);
  font-size: 1rem;
}

.special__mark {
  color: var(--orange);
}