@import '@/styles/variables';
// @import '@/styles/_mixins.scss';

.footer {
  margin: $offset-basic * 2 auto;
  padding: $offset-basic;
  width: 100%;
  text-align: center;
  font: 500 $font-size-title $font-titles;
  font-size: 1rem;
}

.special__mark {
  color: $orange;
}