@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.header {
  position: fixed;
  height: 4rem;
  min-height: 4rem;
  top: 0;
  padding: $offset-basic *2 0;
  z-index: $z-index-navigation;
  width: 100%;
  background-color: $dark;
  left: 50%;
  transform: translateX(-50%);

  @include media-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}