//some initial styles

.wrapper {
  flex: 1 0 auto;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  width: 100%;
  min-width: $mq-xs;

  @include media-sm {
    width: $mq-sm;
  }

  @include media-lg {
    width: $mq-lg;
  }

  @include media-xl {
    width: $mq-xl;
  }
}


//*****common  components *****************////

.arrow {
  @include arrow($light, 1px, 4px);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.down {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

//********* headers ***********************************//

.header {

  // .header__hero
  &__hero {
    font: 900 $font-size-hero $font-titles;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px $orange;

    &:hover {
      -webkit-text-stroke: 2px $green;
    }
  }

}

.section__header {
  margin: $offset-basic * 4 auto;

  font: 700 $font-size-section $font-titles;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.35s ease-in-out;

  &:hover {
    letter-spacing: 0.25em;

    @include media-sm {
      letter-spacing: 0.5em;
    }
  }

  @include media-xl {
    margin: 2vw auto;
    font-size: $font-size-section * 2;
  }
}

.header__title {
  margin: $offset-basic * 2 auto;

  font: 700 $font-size-title $font-titles;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $orange;
  transition: all 0.35s ease-in-out;

  &:hover {
    letter-spacing: 0.25em;
    text-shadow: 1px 1px 1px $green;
  }

  @include media-xl {
    margin: 2vw auto;
    font-size: $font-size-title * 2;
  }
}

.header__subtitle {
  margin: $offset-basic *2 auto;
  font: 500 $font-size-subtitle $font-titles;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $orange;

  @include media-xl {
    margin: 2vw auto;
    font-size: $font-size-subtitle * 2;
  }
}

//********* Sections ***********************************//

.section__offset {

  margin: 2rem auto;
  padding-top: 2rem;

  @include media-lg {
    margin: 4rem auto;
    padding-top: 4rem;
  }
}
