//******************** Media Queries ***********************/

@mixin media-xs {
	@media (min-width: #{$mq-xs}) {
		@content;
	}
}

@mixin media-sm {
	@media (min-width: #{$mq-sm}) {
		@content;
	}
}

@mixin media-md {
	@media (min-width: #{$mq-md}) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: #{$mq-lg}) {
		@content;
	}
}

@mixin media-xl {
	@media (min-width: #{$mq-xl}) {
		@content;
	}
}

//******************** Arrow creation ***********************/
@mixin arrow($color, $width, $size) {
	display: inline-block;
	margin-bottom: $size;
	padding: $size;
	border: solid $color;
	border-width: 0 $width $width 0;
}

//******************** borders ***********************/

@mixin borderDefault {
  border: $size-default-border solid $light;
  border-radius: $border-radius-default;
}