//******************** VARIABLES ***********************/

:root {
  --orange: #F97F29;
  --green: #DFF296;
  --dark: #19283F;
  --light: #F5F5F5;

  --mq-xs: 374px;
  --mq-sm: 752px;
  --mq-lg: 1240px;
  --mq-xl: 1900px;

  --z-index-navigation: 10;
  --z-index-fullscreen: 50;
  --z-index-notification: 100;
  --z-index-modal: 1000;

  --font-size-hero: 5rem;
  --font-size-section: 2rem; //h2
  --font-size-title: 1.7rem; //h3
  --font-size-subtitle: 1.3rem; //h4
  --font-size-text: 1rem; // body p and etc

  --offset-basic: 4px;

  --border-radius-default: 4px;
  --border-radius-section: var(--border-radius-default) * 4;
  --size-default-border: 2px;
  --size-section-border: 4px;
}

//******************** Mixins ***********************/

@mixin media-xs {
  @media (min-width: #{var(--mq-xs)}) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: #{var(--mq-sm)}) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: #{var(--mq-md)}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{var(--mq-lg)}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{var(--mq-xl)}) {
    @content;
  }
}

@mixin arrow($color, $width, $size) {
  display: inline-block;
  margin-bottom: $size;
  padding: $size;
  border: solid $color;
  border-width: 0 $width $width 0;
}

@mixin borderDefault {
  border: var(--size-default-border) solid var(--light);
  border-radius: var(--border-radius-default);
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

//******************** initial style reset ***********************/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--dark);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}