@import '@/styles/_firtstNull.scss';
@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_functions.scss';
@import '@/styles/_initial.scss';

body {
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: $dark;
  color: $light;
  scroll-behavior: smooth;
  font-size: $html-font-size;
  font-family: $font-text;
}

a:focus {
  box-shadow: 2px 2px 10px $light, -2px -2px 10px $light;
}

//********* scrollbar ***********************************//
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: $light;
  border-radius: $border-radius-default;
  border: 1px solid $light;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
  border: 1px solid $green;
  border-radius: $border-radius-default;

  &:active {
    background-color: $green;
    border-color: $orange;
  }
}