@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';
// @import '@/styles/_initial.scss';
//todo put all styles about svg icons here
.icon__svg {
	margin: $offset-basic;
	display: block;
	height: 50px;
	width: 50px;

	fill: $light;
	stroke: $light;
	transition: all 0.25s ease-in-out;

	&:hover {
		stroke: $orange;
		fill: $orange;
	}

	&:focus {
		border-radius: $border-radius-default;
		box-shadow: 2px 2px 10px $orange, -2px -2px 10px $orange;
	}
	
	@include media-lg {
		height: 70px;
		width: 70px;
	}

	@include media-xl {
		height: 100px;
		width: 100px;
	}
}
